
header {
    @include grid-col-row;
    background: lightblue;
}

main {
    @include grid-row;
    background: lightgray;
}

    .mainsection-one {
        @include grid-column(12);
        background: beige;

            @include breakpoint(medium) {
                @include grid-column(6);
            }
    }
    .mainsection-two {
        @include grid-column(12);
        background: aliceblue;

            @include breakpoint(medium) {
                @include grid-column(6);
            }
    }
    .mainsection-gallery {
        @include grid-column(1 of 2);
        background: lightsalmon;
        text-align: center;

            @include breakpoint(medium) {
                @include grid-column(1 of 5);
            }
    }


footer {
    @include grid-row;
}

    .footer-copyright {
        @include grid-column(4);
        background: lightgreen;
    }

    .footer-blurb {
        @include grid-column(8);
        background: lightyellow;
    }